In [1]:
#while True:
    #print("Merhaba Veri Bilimi Uzmanlığı Ekibi")

In [2]:
"""
-Şart kontrollü - while
-Sayma kontrollü - for
"""
count = 0
while(count < 9):
    print('The count is:', count)
    count = count + 1
print('Bye bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Bye bye!

In [3]:
mycount = 0
while mycount < 5:
    print(mycount, "is less than 5")
    mycount = mycount + 1
else:
    print(mycount, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [4]:
for letter in 'Python':
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [5]:
fruits = ['banana', 'apple', 'mango']
for fruit in fruits:
    print('Current Fruit:', fruit)
    
print('Bye Bye!')

Current Fruit: banana
Current Fruit: apple
Current Fruit: mango
Bye Bye!

In [6]:
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [7]:
x = -20
y = 20
while x <= y:
    print("X is now: ", x)
    x = x + 1
    while x < 0:
        print('Value of x :', x)
        x = x + 1

X is now:  -20
Value of x : -19
Value of x : -18
Value of x : -17
Value of x : -16
Value of x : -15
Value of x : -14
Value of x : -13
Value of x : -12
Value of x : -11
Value of x : -10
Value of x : -9
Value of x : -8
Value of x : -7
Value of x : -6
Value of x : -5
Value of x : -4
Value of x : -3
Value of x : -2
Value of x : -1
X is now:  0
X is now:  1
X is now:  2
X is now:  3
X is now:  4
X is now:  5
X is now:  6
X is now:  7
X is now:  8
X is now:  9
X is now:  10
X is now:  11
X is now:  12
X is now:  13
X is now:  14
X is now:  15
X is now:  16
X is now:  17
X is now:  18
X is now:  19
X is now:  20

In [8]:
#Fonksiyonlar
#definition (tanım)
def myprint(s1): #s1 parametredir
    print(s1)
    
#call (çağrı)
myprint("Barcelona") #Barcelona argümandır
myprint("Real Madrid")

Barcelona
Real Madrid

In [9]:
def Fun(x, y):
    result = x + y
    return result

print(Fun(5, 3))
print(Fun(2, 1))

8
3

In [10]:
#default parametre
def printinfo(name, age = 23):
    print("Name : ", name)
    print("Age : ", age)
    
printinfo(age = 19, name = "Tasmanian Devil")
printinfo(name = "Bugs Bunny")

Name :  Tasmanian Devil
Age :  19
Name :  Bugs Bunny
Age :  23

In [11]:
from random import randint
print(randint(0, 100))

import random as rm
print(rm.randint(0, 100))

82
50

In [12]:
import random
print("randrange(100, 1000, 2) :", random.randrange(100, 1000, 2))
print("randrange(100, 1000, 3) :", random.randrange(100, 1000, 3))

randrange(100, 1000, 2) : 624
randrange(100, 1000, 3) : 250

In [13]:
print(rm.uniform(18, 81))
print(rm.uniform(19, 38))

51.456930131897536
29.63660519087054

In [14]:
from math import pi
print(pi)

3.141592653589793

In [15]:
import math
def area_of_circle(r):
    a = r**2 * math.pi
    return a
print(area_of_circle(3))

28.274333882308138

In [16]:
#Lambda, Filter, Map, Reduce

In [17]:
#lambda num1, num2 : num1 + num2
addition = lambda a : a + 10
print(addition(5))

15

In [18]:
product = lambda a, b : a * b
print(product(5, 6))

30

In [19]:
addition = lambda a, b, c : a + b + c
print(addition(5, 6, 2))

13

In [20]:
res = (lambda *args : sum(args))
res(10, 20), res(10,20,30,40), res(10,20,30,40,50,60,70)

(30, 100, 280)

In [21]:
res1 = (lambda **kwargs : sum(kwargs.values()))
res1(a = 10, b = 20, c = 30), res1(a = 10, b = 20, c = 30, d = 40, e = 50)

(60, 150)

In [22]:
#filter(function, iterable) 
#iterable : set, list, tuple

In [23]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
    if n%2 == 1:
        return True
    else:
        return False
    
odd_num = list(filter(odd, list1))
odd_num

[1, 3, 5, 7, 9]

In [24]:
list1 = [1,2,3,4,5,6,7,8,9]

odd_num = list(filter(lambda n : n%2 == 1, list1))
odd_num

[1, 3, 5, 7, 9]

In [25]:
#map -> map(function, iterable)

In [26]:
def twice(n):
    return n*2

doubles = list(map(twice, odd_num))
doubles

[2, 6, 10, 14, 18]

In [27]:
doubles = list(map(lambda n : n*2, odd_num))
doubles

[2, 6, 10, 14, 18]

In [28]:
#reduce -> reduce(function, iterable)

In [29]:
from functools import reduce

In [30]:
def add(a, b):
    return a + b

sum_all = reduce(add, doubles)
sum_all

50

In [31]:
sum_all = reduce(lambda a,b : a+b, doubles)
sum_all

50

In [32]:
sum_all = reduce(lambda a, b : a + b,list(map(lambda n : n*2,list(filter(lambda n : n % 2 == 1, list1)))))
sum_all

50

In [33]:
#Files and exceptions

In [34]:
f = open("test3001.txt", "w")
print(f)
f.write("Now is the time")
f.write(" to close the file")
f.close()

<_io.TextIOWrapper name='test3001.txt' mode='w' encoding='cp1254'>

In [35]:
f = open("test3001.txt", "r")
text = f.read()
print(text)

Now is the time to close the file

In [36]:
f = open("test3001.txt", "r")
print(f.read(5))

Now i

In [37]:
print(f.read(1000006))

s the time to close the file

In [38]:
fo = open("foo3001.txt", "w")
fo.write("Python is a great language.\nYeah its great!!\n")

45

In [39]:
fo = open("foo3001.txt", "r")
mystr1 = fo.read(17)
print("Our string is : ", mystr1)

Our string is :  Python is a great

In [40]:
position = fo.tell()
print("Current cursor position :", position)

Current cursor position : 17

In [41]:
position = fo.seek(0,0)
mystr2 = fo.read(20)
print("Again our string is :", mystr2)
fo.close()

Again our string is : Python is a great la